<!-- <div class="main" ng-app="myApp" ng-controller="View2Ctrl">
    <h1>CARGOGRAFÍAS</h1>
    <h3>Buscador Role</h3>
    <input class="form-control field span12" rows="4" ng-model="role" ng-change="searchRole()" placeholder="role" />
    <input class="form-control field span12" rows="4" ng-model="org_id" ng-change="searchRole()" placeholder="territory"/>
    <h4>{{urlhttp2}}</h4>
    <li ng-repeat="resu in response2">
        <p ng-show="loading">Loading...</p>
        <h3 ng-hide="loading">{{resu.person}}</h3>
        <p ng-hide="loading"> Datos disponibles: <br>{{resu}}</p>
        <p> &nbsp;</p>
    </li>
</div> -->



  <div class="view2-body">
    <br>
      <div class="row">
          <div class="col-xs-12
                    col-sm-12
                    col-md-12
                    col-lg-12
                    child-container">
                  <h3>Cargografías Argentina</h3>
                  <img src="../images/argentina.png" alt="">
                  <i class="right"></i>
                  <i class="left"></i>

          </div>
      </div>
      <br><br>
      <div class="row child-container">
          <div class="col-xs-3">
            <a href="#!/view6"><div class="box">
              ESTA EN EL PODER
            </div></a>
            <p>Visita guiada por Cargografias</p>
          </div>
          <div class="col-xs-3">
            <a href="#!/view6"><div class="box">
              CANDIDATOS
            </div></a>
            <p>Candidatos Presidenciales 2015</p>
          </div>
          <div class="col-xs-3">
            <a href="#!/view6"><div class="box">
              GABINETE
            </div></a>
            <p>Gabinete Presidencial</p>
          </div>
          <div class="col-xs-3">
            <a href="#!/view6"><div class="box">
              ENTRE RÍOS
            </div></a>
            <p>Funcionarios de Entre Ríos</p>
          </div>

      </div>
  </div>



    <div class="row view2-footer" >
        <div class="col-xs-12
              col-sm-12
              col-md-12
              col-lg-12">
            <ul>
                <li><span>8000</span>CARGOS</li>
                <li><span>5000</span>POLÍTICOS</li>
                <li><span>2000</span>ORGANIZACIONES</li>
                <li><span>60</span>TERRITORIOS</li>
                <li><span>80</span>CATEGORÍAS</li>
                <li><span>120</span>AÑOS</li>
            </ul>
        </div>
    </div>
