<!-- <div class="view6" ng-app="myApp" ng-controller="View6Ctrl">
    <h3>¿Está en el poder?</h3>
    <button ng-click='go()' >¿esta en el poder?</button>

    <input class="form-control field span12" rows="4" ng-model="keywords6" ng-change="search6()" placeholder="nombre"/>
    <h4>{{urlhttp}}</h4>
    {{response6.person}}
     <li ng-repeat="res in response6">
        <p ng-show="loading">Loading...</p>
        <h3 ng-hide="loading">{{res.person}}</h3>
        <p ng-hide="loading"> Start date: <br>{{res.start_date}}</p>
        <p ng-hide="loading"> End date: <br>{{res.end_date}}</p>
        <p ng-hide="loading"> Role: <br>{{res.role}}</p>
        <p ng-hide="loading"> Sob org: <br>{{res.sob_org}}</p>
        <p ng-hide="loading"> INFORMACION: <br>{{res}}</p>

        <p> &nbsp;</p>
        <p> &nbsp;</p>
    </li>
    <h1 class="remainsInPower" >{{remainsInPower}}</h1>

</div> -->

<div class="row" ng-cloak ng-controller="View6Ctrl as ctrl">

            <md-autocomplete
                id="autocomplete"
                md-autoselect=true
                placeholder="Que persona estas buscando?"
                md-item-text="item.display"
                md-items="item in ctrl.items"
                md-menu-class="autocomplete-custom-template"
                md-min-length="2"
                md-delay="ctrl.throttle"
                md-search-text="ctrl.searchText"
                md-search-text-change="ctrl.searchTextChange(ctrl.searchText)"
                md-select-on-match=true
                md-match-case-insensitive=true
                md-selected-item-change="ctrl.selectedItemChange(item)"
                md-selected-item="ctrl.selectedItem">
              <md-item-template>
                <span class="item-title">
                  <span md-highlight-flags="^i" md-highlight-text="ctrl.searchText" ng-click='power(item.nombre)'>
                    {{item.nombre}}
                  </span>
                </span>
              </md-item-template>
              <md-not-found>
                No se encuentran resultados.
              </md-not-found>
            </md-autocomplete>
    <pre><code>
      <br><br>
      {{remainsInPower}}
      {{ctrl.result}}
    </code></pre>
</div>
