<div class="main" ng-app="myApp" ng-controller="View2Ctrl">
    <h1>CARGOGRAFÍAS</h1>
    <h3>Buscador</h3>
    <!-- <input class="form-control field span12" rows="4" ng-model="role" ng-change="searchRole()" placeholder="role" />
    <input class="form-control field span12" rows="4" ng-model="org_id" ng-change="searchRole()" placeholder="territory"/> -->
    <!-- <h4>{{urlhttp2}}</h4>
    <li ng-repeat="resu in response2">
        <p ng-show="loading">Loading...</p>
        <h3 ng-hide="loading">{{resu.person}}</h3>
        <p ng-hide="loading"> Datos disponibles: <br>{{resu}}</p>
        <p> &nbsp;</p>
    </li> -->
    <h4>EL BUSCADOR ESTÁ ESCRITO EN JS Y ES TOTALMENTE INDEPENDIENTE. <br> POR AHORA RECIBE LA URL DEL API Y DEVUELVE UN OBJETO.
    <br>PARA LA SEMANA QUE VIENE RECIBIRA UN OBJETO (TODOS LOS CAMPOS - VACIOS O COMPLETOS) Y DEVOLVERÁ UN OBJETO RESPONSE</h4>
    <ul>
      <li>NO TENEMOS LAS FOTOS EN LA BASE DE DATOS</li>
      <li>NO TENEMOS FECHA DE NACIMIENTO Y MUERTE EN LA BASE DE DATOS</li>
      <li><br></li>
      <li>NO FUNCIONA:
        <ul>
          <li>https://quienesquienapi.herokuapp.com/v1/memberships?department=&role=&person=&person_id=&org_id=&label=&shares=&salary=&start_date=&end_date=&embed=&limit= <br>(ESTO ES LO QUE NECESTIAMOS QUE FUNCIONE PARA PODER LOGRAR PETICIONES DEL TIPO - TODA LA INFORMACIÓN DEL PRESIDENTE)</li>
        </ul>
      </li>
      <li><br></li>
      <li>PREGUNTAS:
      <ul>
        <li>que pasa con las fotos? no han importado los mexicanos la base de datos de cargografias? </li>
      </ul>
    </li>
    </ul>
</div>
